:root {
  font-family: "Roboto", "Shrikhand", sans-serif;
}
h1,
h3 {
  font-family: "Shrikhand", sans-serif;
}
h2 {
  font-family: "roboto";
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
