@media screen and (min-width: 768px) {
  .ff {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .fonctionnement .fonctionnement_div {
    margin-right: 10px;
    width: 30%;
  }
  .principale {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
  }
  .principale_div {
    display: flex;
    gap: 20px;
  }
  .tous_restaurant {
    min-width: 300px;
  }
  .menu {
    width: 70%;
    margin: auto;
  }
  .entrees,
  .plats,
  .desserts {
    width: 72%;
    margin: auto;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer {
    display: flex;
  }
  footer h3 {
    padding-top: 6px;
    margin-left: 20px;
  }
  .footer li {
    margin-left: 20px;
  }
}
